.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .catalog-product-view{
        .page-header{
            margin-bottom: 0;     
            .logo{
                margin: 0px;
                float: none;
                margin-right: 0px;
                margin-left: 0px;
                order: 1;

                img{
                    width: 63.49px;
                }
            }
            .right-col{
                display: flex;
                flex-direction:row;
                // justify-content: center;
                align-items: center;
                height: 80px;
                .logo{
                    position: relative;
                    left: 21px;
                    order: 1;
                }
                .block-search{
                    margin: 0;
                    order: 2;
                    position: relative;
                    left: 115px;
                    .block-content{
                        .control{
                            border-top: none;
                            position: relative;
                            left: 0px;
                            input{
                                left: 0px;
                                top: 50px;
                            }
                            // display: none;
                            // input[type=text]:checked{
                            //     display: block;
                            // }
                        }
                        .active{
                            input{
                                position: absolute;
                                z-index: 1000;
                                left: 0px;
                                top: 12px;
                                width: 200px;
                            }
                        }

                    }

                }
                .block-minicart{
                    right: -180px;
                }
                .towishlist{
                    position: relative;
                    content: @icon-heart;
                    order: 3;
                    left: 140px;

                }
                .minicart-wrapper{
                    margin-top: 0px;
                    .showcart{
                        content: @icon-bag;
                        position: relative;
                        left: 170px;
                    }
                    order: 4;
                }
                .nav-toggle{
                    position: relative;
                    top: 0px;                                 
                    content: @icon-burger;
                    order: 5;
                    left: 200px;
                    

                }
            }
        }
    }

}   