// Common(style-m.css)

 & when(@media-common = true){
     .content-form
     {
        
         .login{
            background-color: black;
         }
     }

 }

  // Movil (style-m.css)
 .media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
    
    // .background-login{
    //     background-image: url('../images/fill_13.svg') url('../images/fill_8.svg') url('../images/fill_17.svg');
    // }
    
    
    .logo{
        float: none;
        margin: 20px  auto 72.2px auto;
        // max-width: 50%;
        z-index: 200;
        position: relative;
        text-align: center;
        img{
            display: inline;
            width: 91.6px;
            height: 146.8px;
        }

        // background-image: url('../images/logo.svg');
   
    }
    .content-form
     {
        padding: 0 24px;
        .tabs {
            display: flex;
            
            /* allows for tabs to be next to each other */
            position: relative;
            /* relative here contains the width of the content */
            max-width: 812px;
            align-items:flex-end;
            flex-shrink: 0;

            .tab{    
                flex-grow:1;

                label {
                    text-align: center;
                    cursor: pointer;
                    color:@font-color;
                }
                .tab-label{  
                    text-align: center;
                    cursor: pointer;
                    height: 60px;
                    border-radius: 6px 6px 0px 0px;
                    background:@tab-background-disable-color;
                }
                .tab-label-rigth{
                    margin-right: -1.5em;
                    -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
                     clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);  
                }
                .tab-label-left{
                     margin-left: -.5em;
                    -webkit-clip-path: polygon(10% 0%, 100% 100%, 100% 100%, 0% 100%); 
                    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);  

                }
            } 

            .content {
                display: none;
                padding:  24px;
                position: absolute;
                background: @form-background-color;
                border-radius: 0rem 0rem 6px 6px;
                left: 0;
                right: 0;
                form{
                    color: @font-color;
                }
                .form-input{
                    margin-top: 0;
                    margin-bottom: 24px;

                   input{
                        outline: 0;
                        background-color: transparent;
                        border-width: 0 0 .0625rem;         
                        border-color: @font-color;
                        opacity: 0.5;
                        color: @font-color;
                        padding: 0 0;
                   }
                   input:focus{  
                        outline: 0;    
                        border-color: transparent;
                        border-width: 0 0 .0625rem;         
                        background: transparent;
                        box-shadow: none;

                    }
                    input[type='submit']{
                        display: block;
                        color:@font-color;
                        height: 44px;
                        width: 100%;
                        border: none;
                        border-radius: 24px;
                        background: @button-background-color;
                        opacity: 1;
                        margin-top: 70px;
                    }
                    label{
                        color: @font-color;
                        opacity: 1;
                        display: inline-block;
                        text-align: left;
                        width: 0px;
                        height: 0px;
                    }
                }

                .mb-17{
                    margin-bottom: 17px; 
                }

                .mb-2{
                    margin-bottom: 2px;
                }
                .ta-center{
                    text-align: center;
                }

            }
        }
       
        [type="radio"]:checked ~ .tab-label ~ .content {
            z-index: 100;
            display: block;
            align-items: center;
        }
        [type="radio"]:checked ~ .tab-label {
            background: @form-background-color;
            opacity: 1;
        }

        .tab-selection{
            display: none;
            color: @font-color;
        }
        
  
    }
    .page-main{
        padding: 0px;
        background-color: @login-background-color;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-image: url('../images/background/fill_13.svg'), 
            url('../images/background/fill_8.svg'),
            url('../images/background/fill_17.svg');
        background-size: auto, auto, auto;
        background-position: center 0, center left, center right;

    }
 }
 // Desktop(style-m.css)
 .media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
     
}

 