.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .catalog-product-view{
        .product-info-main{
            .product-reviews-summary{
                float: unset;
                .rating-result{
                    width: unset;
                    vertical-align: unset;
                }

            }
        }
    }
}