<div class="body-blog">
    <div>
        <h1 class='title-blog'> My Spetaclar blog</h1>
        <h2 class='title-blog'>A total false stament</h2>

    </div>

    <form class=form_post action="" data-bind="submit: sendBlog" method="post">
        <h3 class='title_form'> New blog post</h3>
        <div class="container_form">
            <div class="column">
                <input class="input_text" type="text" id="titulo" name="titulo" placeholder="My Post title"
                    data-bind="value: title " data-validate='{"required":true}'  />
                <textarea class="input_textarea" type="textarea" id="contenido" name="contenido"
                    placeholder="Here all my important text!" data-bind="value: content" data-validate='{"required":true}' ></textarea>
                <input class="input_text_email" type="text" id="email" name="email" placeholder="Email address"
                    data-bind="value: email" data-validate='{"required":true}' />

                <div class="row">
                    <div >
                        <input  class="button_save" type="file" id="img" name="img" data-bind="value: image, event: { change: changeImage }" accept="image/png, image/jpeg">         
                    </div>
                </div>

                <!-- <input class="input_text" type="text" id="image" name="image" placeholder="Image blog"
                    data-bind="value: image" data-validate='{"required":false}'/> -->
                <!-- <div class="row">
                    <p>/MyPc/Data/Images/thisisaimage.jpg</p>
                    <button class="button_form" placeholder="My Post title">
                        Upload image
                    </button>
                </div> -->
            </div>
            <div class="column">
                <button class="button_save" placeholder="My Post title">
                    Save post
                </button>

            </div>

        </div>


    </form>


    <!-- <div class="list_item"> -->

    <div class="list_item" data-bind="foreach: blogItems">
        <div class="item_post">
            <div class="title_post">
                <h4 data-bind="text: title"></h4>
                <p></p>

            </div>
            <div class="content_item">
                <img class="image_post" data-bind="text: img" alt="no image">
                <p data-bind="text: content"></p>
            </div>
        </div>
    </div>

    <!-- <div></div> -->

    <!-- </div> -->
</div>